*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #1d1d1d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    transition: 0.3s;

}

img:hover{
    cursor: pointer;
}

img:active{
    transform: scale(0.8)
}